<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Service Booking!</title>

    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/ySYDwL1/design-2-5.png">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
     <script src="/webjars/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

<style>
       a {
        color: white;
        text-decoration:none;
        }

        .header {
        float: right;
        padding: 10px 20px;
        font-size: 20px;
        color: white;
        background-color: #955aed;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 15px 10px 0px 10px;
        transition: background-color 0.3s ease-in-out;
        }

</style>
    <nav>
        <img src="https://i.ibb.co/RD6sbKs/icon-service.png" alt="logo">
        <button class="header"><a href="/registration">Register</a></button>
        <button class="header"><a href="/private">My profile</a></button>
        <button class="header"><a href="/contact-us">Contact Us</a></button>
        <button class="header"><a href="/about-us">About Us</a></button>
        <button class="header"><a href="/services">Our Services</a></button>
        <button class="header"><a href="/home">Home</a></button>
    </nav>
        <!--Search bar commented out-->
<!--        <form action="" style="float:right">
            <input type="text" placeholder="Try to type something..." name="q">
            <button type="submit">Search</button>
        </form>-->


</head>

<body>

</body>
</html>