<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Service Booking!</title>

    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/ySYDwL1/design-2-5.png">
    <link rel="stylesheet" href="/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
     <script src="/webjars/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

<style>
      .profile-cta button {
        padding: 10px 20px;
        font-size: 20px;
        color: white;
        background-color: #955aed;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
                }
            .profile-buttons{
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 40px;
        float: top;
        }

</style>
</head>

<body>
<div class="navbar-header" style="">

        <div class="profile-buttons">
            <div class="logo-image">
                <img src="https://i.ibb.co/RD6sbKs/icon-service.png" alt="logo">
            </div>

            <div class="profile-cta">
                <button>Home</button>
            </div>
            <div class="profile-cta">
                <button>Services</button>
            </div>
            <div class="profile-cta">
                <button>About Us</button>
            </div>
            <div class="profile-cta">
                <button><a href="profile">My Profile</a></button>
            </div>
            <div class="profile-cta">
                <button>Register</button>
            </div>
            <div class="searchbar">
                <form action="" class="search-bar">
                    <input type="text" placeholder="Try to type something..." name="q">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>